# Data Cleaning

## Data loading

Load the dataset from "sem_3_ret_modelling.csv" into a dataframe.

In [20]:
import pandas as pd
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [21]:
file_path = input("Please enter the file path: ")

df = pd.read_csv(file_path)
display(df.head())

Please enter the file path: /content/drive/MyDrive/projects/Applied-Data-Analytics-For-Higher-Education-Course-2/data/students.csv

,SID,COHORT,RACE_ETHNICITY,GENDER,FIRST_GEN_STATUS,HS_GPA,HS_MATH_GPA,HS_ENGL_GPA,COLLEGE,UNITS_ATTEMPTED_1,UNITS_ATTEMPTED_2,UNITS_ATTEMPTED_3,UNITS_ATTEMPTED_4,UNITS_COMPLETED_1,UNITS_COMPLETED_2,UNITS_COMPLETED_3,UNITS_COMPLETED_4,DFW_UNITS_1,DFW_UNITS_2,DFW_UNITS_3,DFW_UNITS_4,GPA_1,GPA_2,GPA_3,GPA_4,CUM_GPA_1,CUM_GPA_2,CUM_GPA_3,CUM_GPA_4,SEM_1_STATUS,SEM_2_STATUS,SEM_3_STATUS,SEM_4_STATUS,SEM_5_STATUS,SEM_6_STATUS,SEM_7_STATUS,SEM_8_STATUS
0,UHDOP5522,Fall 2020,Asian,Female,Continuing Generation,3.720,3.2,3.400,Visual & Performing Arts,15.0,14.0,15.0,12.0,15.0,15.0,16.0,13.0,0.0,0.0,0.0,0.0,4.000000,3.785714,4.0,3.75,4.000000,3.896552,3.931818,3.892857,E,E,E,E,E,E,E,G
1,UHE842CU6,Fall 2021,Black or African American,Female,Continuing Generation,3.189,2.6,3.750,Visual & Performing Arts,12.0,12.0,12.0,10.0,12.0,12.0,6.0,10.0,3.0,4.0,12.0,4.0,3.000000,2.500000,1.5,3.30,3.000000,2.750000,2.333333,2.543478,E,E,E,E,D,E,E,D
2,UHERNUJQ5,Fall 2024,Hispanic,Male,Continuing Generation,3.081,2.5,3.600,Letters & Humanities,13.0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.923077,NaN,NaN,NaN,1.923077,NaN,NaN,NaN,E,D,D,D,D,D,D,D
3,UHINMOS08,Fall 2024,Hispanic,Female,Continuing Generation,3.231,2.8,3.333,Health & Human Services,12.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,E,D,D,D,D,D,D,D
4,UHJFT1JAB,Fall 2018,Asian,Female,Continuing Generation,3.625,3.4,3.500,Visual & Performing Arts,15.0,15.0,15.0,12.0,15.0,16.0,16.0,12.0,0.0,0.0,0.0,0.0,3.800000,3.600000,3.6,3.50,3.800000,3.700000,3.666667,3.631579,E,E,E,E,E,E,E,E

Display information about the DataFrame, including the data types and non-null values to understand the structure and identify missing values.

In [22]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37693 entries, 0 to 37692
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SID                37693 non-null  object
 1   COHORT             37693 non-null  object
 2   RACE_ETHNICITY     37693 non-null  object
 3   GENDER             37693 non-null  object
 4   FIRST_GEN_STATUS   37692 non-null  object
 5   HS_GPA             37421 non-null  float64
 6   HS_MATH_GPA        36995 non-null  float64
 7   HS_ENGL_GPA        36995 non-null  float64
 8   COLLEGE            37693 non-null  object
 9   UNITS_ATTEMPTED_1  37501 non-null  float64
 10  UNITS_ATTEMPTED_2  30038 non-null  float64
 11  UNITS_ATTEMPTED_3  27217 non-null  float64
 12  UNITS_ATTEMPTED_4  21479 non-null  float64
 13  UNITS_COMPLETED_1  37693 non-null  float64
 14  UNITS_COMPLETED_2  30225 non-null  float64
 15  UNITS_COMPLETED_3  27419 non-null  float64
 16  UNITS_COMPLETED_4  21619 non-null  float64
 17  DFW_UNITS_1        37693 non-null  float64
 18  DFW_UNITS_2        30225 non-null  float64
 19  DFW_UNITS_3        27419 non-null  float64
 20  DFW_UNITS_4        21619 non-null  float64
 21  GPA_1              37501 non-null  float64
 22  GPA_2              30038 non-null  float64
 23  GPA_3              27217 non-null  float64
 24  GPA_4              21479 non-null  float64
 25  CUM_GPA_1          37501 non-null  float64
 26  CUM_GPA_2          30038 non-null  float64
 27  CUM_GPA_3          27217 non-null  float64
 28  CUM_GPA_4          21479 non-null  float64
 29  SEM_1_STATUS       37693 non-null  object
 30  SEM_2_STATUS       37693 non-null  object
 31  SEM_3_STATUS       37693 non-null  object
 32  SEM_4_STATUS       37693 non-null  object
 33  SEM_5_STATUS       37693 non-null  object
 34  SEM_6_STATUS       37693 non-null  object
 35  SEM_7_STATUS       37693 non-null  object
 36  SEM_8_STATUS       37693 non-null  object
dtypes: float64(23), object(14)
memory usage: 10.6+ MB

None

# Drop unnecessary columns outside of analysis scope

Since the scope of the analysis is to predict dropout at the 3rd semester, we drop SEM_1_STATUS and SEM_2_STATUS

In [23]:
df.drop(['SEM_1_STATUS', 'SEM_2_STATUS'], axis=1, inplace=True)

Check for the number of missing values in each column.

In [24]:
display(df.isnull().sum())

SID                      0
COHORT                   0
RACE_ETHNICITY           0
GENDER                   0
FIRST_GEN_STATUS         1
HS_GPA                 272
HS_MATH_GPA            698
HS_ENGL_GPA            698
COLLEGE                  0
UNITS_ATTEMPTED_1      192
UNITS_ATTEMPTED_2     7655
UNITS_ATTEMPTED_3    10476
UNITS_ATTEMPTED_4    16214
UNITS_COMPLETED_1        0
UNITS_COMPLETED_2     7468
UNITS_COMPLETED_3    10274
UNITS_COMPLETED_4    16074
DFW_UNITS_1              0
DFW_UNITS_2           7468
DFW_UNITS_3          10274
DFW_UNITS_4          16074
GPA_1                  192
GPA_2                 7655
GPA_3                10476
GPA_4                16214
CUM_GPA_1              192
CUM_GPA_2             7655
CUM_GPA_3            10476
CUM_GPA_4            16214
SEM_3_STATUS             0
SEM_4_STATUS             0
SEM_5_STATUS             0
SEM_6_STATUS             0
SEM_7_STATUS             0
SEM_8_STATUS             0
dtype: int64

Identify columns with more than 50% missing values and drop them from the dataframe.

In [25]:
missing_values_count = df.isnull().sum()
total_rows = len(df)
columns_to_drop = missing_values_count[missing_values_count / total_rows > 0.5].index.tolist()
df.drop(columns=columns_to_drop, inplace=True)
display(f"Number of remaining columns: {df.shape[1]}")
display(df.head())

'Number of remaining columns: 35'

,SID,COHORT,RACE_ETHNICITY,GENDER,FIRST_GEN_STATUS,HS_GPA,HS_MATH_GPA,HS_ENGL_GPA,COLLEGE,UNITS_ATTEMPTED_1,UNITS_ATTEMPTED_2,UNITS_ATTEMPTED_3,UNITS_ATTEMPTED_4,UNITS_COMPLETED_1,UNITS_COMPLETED_2,UNITS_COMPLETED_3,UNITS_COMPLETED_4,DFW_UNITS_1,DFW_UNITS_2,DFW_UNITS_3,DFW_UNITS_4,GPA_1,GPA_2,GPA_3,GPA_4,CUM_GPA_1,CUM_GPA_2,CUM_GPA_3,CUM_GPA_4,SEM_3_STATUS,SEM_4_STATUS,SEM_5_STATUS,SEM_6_STATUS,SEM_7_STATUS,SEM_8_STATUS
0,UHDOP5522,Fall 2020,Asian,Female,Continuing Generation,3.720,3.2,3.400,Visual & Performing Arts,15.0,14.0,15.0,12.0,15.0,15.0,16.0,13.0,0.0,0.0,0.0,0.0,4.000000,3.785714,4.0,3.75,4.000000,3.896552,3.931818,3.892857,E,E,E,E,E,G
1,UHE842CU6,Fall 2021,Black or African American,Female,Continuing Generation,3.189,2.6,3.750,Visual & Performing Arts,12.0,12.0,12.0,10.0,12.0,12.0,6.0,10.0,3.0,4.0,12.0,4.0,3.000000,2.500000,1.5,3.30,3.000000,2.750000,2.333333,2.543478,E,E,D,E,E,D
2,UHERNUJQ5,Fall 2024,Hispanic,Male,Continuing Generation,3.081,2.5,3.600,Letters & Humanities,13.0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.923077,NaN,NaN,NaN,1.923077,NaN,NaN,NaN,D,D,D,D,D,D
3,UHINMOS08,Fall 2024,Hispanic,Female,Continuing Generation,3.231,2.8,3.333,Health & Human Services,12.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,D,D,D,D,D,D
4,UHJFT1JAB,Fall 2018,Asian,Female,Continuing Generation,3.625,3.4,3.500,Visual & Performing Arts,15.0,15.0,15.0,12.0,15.0,16.0,16.0,12.0,0.0,0.0,0.0,0.0,3.800000,3.600000,3.6,3.50,3.800000,3.700000,3.666667,3.631579,E,E,E,E,E,E

Check for duplicate rows in the DataFrame.

In [26]:
display(df.duplicated().sum())

np.int64(2)

Drop duplicate rows from the DataFrame.

In [27]:
df.drop_duplicates(inplace=True)
display(df.duplicated().sum())

np.int64(0)

Inspect the unique values and their counts for the categorical columns to identify any anomalies or labels that need fixing.

In [28]:
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    display(f"Value counts for column: {col}")
    display(df[col].value_counts())

'Value counts for column: SID'

SID
IXBGYMKEK    2
S97O2ZPYI    2
0W430472L    2
X8IBNMF2L    2
6TRLWTJ4K    2
            ..
Z2NXKAF2O    1
Z2P6HUQFD    1
Z2TLEMF98    1
Z2X5M1JXZ    1
Z2DPT63D6    1
Name: count, Length: 37635, dtype: int64

'Value counts for column: COHORT'

COHORT
Fall 2024      6473
Fall 2023      5753
Fall 2022      5362
Fall 2019      5168
Fall 2018      4952
Fall 2020      4905
Fall 2021      4865
Spring 2024      81
Spring 2020      34
Spring 2019      25
Spring 2018      24
Spring 2023      21
Spring 2022      16
Spring 2021      12
Name: count, dtype: int64

'Value counts for column: RACE_ETHNICITY'

RACE_ETHNICITY
Hispanic                                     19157
Asian                                         8338
White                                         5053
Two or More Races                             1803
Black or African American                     1427
Nonresident alien                             1295
Unknown                                        494
Native Hawaiian or Other Pacific Islander       93
American Indian or Alaska Native                31
Name: count, dtype: int64

'Value counts for column: GENDER'

GENDER
Female       22752
Male         14862
Nonbinary       77
Name: count, dtype: int64

'Value counts for column: FIRST_GEN_STATUS'

FIRST_GEN_STATUS
Continuing Generation    23295
First Generation         10981
Unknown                   3414
Name: count, dtype: int64

'Value counts for column: COLLEGE'

COLLEGE
Health & Human Services              6750
Engineering & Technology             6007
Letters & Humanities                 5663
General Studies                      5639
Business Administration              4392
Natural and Mathematical Sciences    4350
Visual & Performing Arts             4124
Education & Leadership                766
Name: count, dtype: int64

'Value counts for column: SEM_3_STATUS'

SEM_3_STATUS
E    26861
D    10830
Name: count, dtype: int64

'Value counts for column: SEM_4_STATUS'

SEM_4_STATUS
E    20883
D    16787
G       21
Name: count, dtype: int64

'Value counts for column: SEM_5_STATUS'

SEM_5_STATUS
E    19552
D    18089
G       50
Name: count, dtype: int64

'Value counts for column: SEM_6_STATUS'

SEM_6_STATUS
D    22592
E    14758
G      341
Name: count, dtype: int64

'Value counts for column: SEM_7_STATUS'

SEM_7_STATUS
D    22885
E    13815
G      991
Name: count, dtype: int64

'Value counts for column: SEM_8_STATUS'

SEM_8_STATUS
D    26523
E     5774
G     5394
Name: count, dtype: int64

Fix inconsistent labels in the 'GENDER' column by converting all entries to a consistent case and removing leading/trailing spaces.

In [29]:
df['GENDER'] = df['GENDER'].str.strip().str.capitalize()
display(df['GENDER'].value_counts())

GENDER
Female       22752
Male         14862
Nonbinary       77
Name: count, dtype: int64

Combine or eliminate rare categories.

In [30]:
# Eliminate non-binary category
df = df[df['GENDER'] != 'Non-binary']

# For RACE_ETHNICITY compbine Unknown, Native Hawaiian or Other Pacific Islander, and American Indian or Alaska Native into the category Other
df['RACE_ETHNICITY'] = df['RACE_ETHNICITY'].replace(['Unknown', 'Native Hawaiian or Other Pacific Islander', 'American Indian or Alaska Native'], 'Other')

## Data splitting

Split the cleaned data into training and testing dataframes.

In [31]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.25, random_state=42)

display(f"Shape of training data: {df_train.shape}")
display(f"Shape of testing data: {df_test.shape}")

'Shape of training data: (28268, 35)'

'Shape of testing data: (9423, 35)'

Cohort based split

In [32]:
# Create the test set with the 'Fall 2022' cohort
df_test_cohort = df[df['COHORT'] == 'Fall 2022'].copy()

# Create the training set with the remaining cohorts
df_train_cohort = df[df['COHORT'] != 'Fall 2022'].copy()

display(f"Shape of training data (cohort split): {df_train_cohort.shape}")
display(f"Shape of testing data (cohort split): {df_test_cohort.shape}")

'Shape of training data (cohort split): (32329, 35)'

'Shape of testing data (cohort split): (5362, 35)'

Method 1: Random Split (train_test_split)

    Pros:
        Ensures that both the training and testing sets are representative of the overall dataset's distribution. This is crucial for building a model that generalizes well to unseen data that comes from the same distribution as the training data.
        Simple to implement and a standard practice in machine learning.
        Avoids potential biases that could arise from non-random splits.

    Cons:
        May not be ideal if you need to evaluate your model's performance on a specific, future cohort or a group with unique characteristics.
        If there are significant differences between cohorts, a randomly split test set might not accurately reflect how the model would perform on a completely new, future cohort.

Method 2: Cohort-Based Split (COHORT == 'Fall 2022')

    Pros:
        Provides a realistic evaluation of how your model would perform on a specific group, such as a future cohort. This is particularly useful in time-series or sequential data where you want to predict outcomes for a future period based on past data.
        Allows you to assess the model's ability to generalize to a cohort that may have different characteristics or trends compared to the training cohorts.

    Cons:
        The test set may not be representative of the overall data distribution if the chosen cohort has unique characteristics. This could lead to an over- or underestimation of the model's performance.
        If the chosen test cohort is significantly different from the training cohorts, the model trained on the earlier cohorts might not perform well due to concept drift or changes in underlying patterns.
        Reduces the size of the training data, which could impact model performance, especially for complex models that require a large amount of data.

When to use which method:

    Use random splitting when you want to build a model that generalizes well to new data from the same distribution as your training data and you don't have specific concerns about evaluating performance on a distinct group or time period.
    Use cohort-based splitting when you need to specifically evaluate your model's performance on a future or distinct group, such as the most recent cohort, to understand how it would perform in a real-world scenario with new data.

In our case, using the 'Fall 2022' cohort as a test set might be a good approach if our goal is to predict the retention of the most recent cohort based on data from previous cohorts. This simulates a real-world scenario where you would use historical data to predict outcomes for new students. However, it's important to be aware of the potential limitations, such as the representativeness of the 'Fall 2022' cohort compared to the others.

Impute missing values in both df_train and df_test separately.

Identify columns with missing values in df_train and df_test and impute them separately using medians for numerical columns and modes for categorical columns, calculating these statistics from df_train only for both dataframes, and finally verify that there are no remaining missing values.

In [33]:
def impute_missing_values(df_train, df_test):
  # Identify columns with missing values in df_train
  missing_train = df_train.isnull().sum()
  cols_with_missing_train = missing_train[missing_train > 0].index

  # Impute missing values in df_train
  for col in cols_with_missing_train:
      if df_train[col].dtype in ['int64', 'float64']:
          median_val = df_train[col].median()
          df_train[col].fillna(median_val, inplace=True)
      else:
          mode_val = df_train[col].mode()[0]
          df_train[col].fillna(mode_val, inplace=True)

  # Identify columns with missing values in df_test (based on original df columns)
  missing_test = df_test.isnull().sum()
  cols_with_missing_test = missing_test[missing_test > 0].index

  # Impute missing values in df_test using statistics from df_train
  for col in cols_with_missing_test:
      if df_test[col].dtype in ['int64', 'float64']:
          # Use median from df_train
          median_val_train = df_train[col].median()
          df_test[col].fillna(median_val_train, inplace=True)
      else:
          # Use mode from df_train
          mode_val_train = df_train[col].mode()[0]
          df_test[col].fillna(mode_val_train, inplace=True)


  return df_train, df_test

df_train, df_test = impute_missing_values(df_train, df_test)
df_train_cohort, df_test_cohort = impute_missing_values(df_train_cohort, df_test_cohort)

In [34]:
# Verify no remaining missing values
display("Missing values in df_train after imputation:")
display(df_train_cohort.isnull().sum().sum())
display("Missing values in df_test after imputation:")
display(df_test_cohort.isnull().sum().sum())

'Missing values in df_train after imputation:'

np.int64(0)

'Missing values in df_test after imputation:'

np.int64(0)

## Summary:

### Data Analysis Key Findings

*   The initial dataset contained 25266 rows and 19 columns.
*   54 duplicate rows were found and removed from the dataset.
*   The 'FAMILY\_INCOME' column had a significant number of missing values (20920) and was subsequently dropped as it exceeded the 50% missing value threshold.
*   The 'GENDER' column contained inconsistent casing and leading/trailing spaces which were standardized.
*   The dataset was successfully split into training (75%) and testing (25%) sets, resulting in `df_train` and `df_test` .
*   The dataset was successfully split into training (cohorts from Fall 2018 through Fall 2022) and testing (cohort of Fall 2023) sets, resulting in `df_train_cohort and `df_test_cohort`.
*   Missing values in both the training and testing sets were imputed using the median for numerical columns and the mode for categorical columns, with the imputation statistics calculated solely from the training data to prevent data leakage.

### Insights or Next Steps

*   The preprocessing steps have prepared the data for model training by handling duplicates, removing columns with excessive missing data, splitting the data, and imputing missing values in a leakage-aware manner.
*   The next step would involve further feature engineering and selecting appropriate machine learning models for the retention prediction task.

In [35]:
location = input("Please enter the location to save the files: ")

Please enter the location to save the files: /content/drive/MyDrive/projects/Applied-Data-Analytics-For-Higher-Education-Course-2/data

In [36]:
# Save df_train_cohort to a CSV file
df_train_cohort.to_csv(f'{location}/training.csv', index=False)

# Save df_test_cohort to a CSV file
df_test_cohort.to_csv(f'{location}/testing.csv', index=False)